.wrapper{
        display: flex;
        flex-flow: row wrap;
        font-weight: bold;
        text-align: center;

     * {
        padding: 10px;
        flex: 1 100%;
    }
    header{
        background-color: #30BFFF;
    }
    .main {

    }


}
